<!DOCTYPE html>
<html>
    <head>
        <title>App</title>
        <link rel = "stylesheet" href="/app.css"> <!-- You added the "/" because it means you want it to
        look for the app.css file outside from the folder where it is right now.-->
    </head>
    <body>